In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [3]:
filenames = ["data/msn_02_fuel_leak_signals_preprocessed.csv", "data/msn_10_fuel_leak_signals_preprocessed.csv", "data/msn_11_fuel_leak_signals_preprocessed.csv", "data/msn_12_fuel_leak_signals_preprocessed.csv", "data/msn_14_fuel_leak_signals_preprocessed.csv", "data/msn_29_fuel_leak_signals_preprocessed.csv", "data/msn_37_fuel_leak_signals_preprocessed.csv", "data/msn_53_fuel_leak_signals_preprocessed.csv"]

datasets = []
for filename in filenames:
    datasets.append(pd.read_csv(filename, sep=";"))
    
print("Datasets loaded")

Datasets loaded

In [4]:
for dataset in datasets:
    print(dataset.head)

<bound method NDFrame.head of                    UTC_TIME         MSN Flight  ENGINE_RUNNING_1  \
0       2011-03-09 12:06:01  A400M-0002  V0136              True
1       2011-03-09 12:06:02  A400M-0002  V0136             False
2       2011-03-09 12:06:03  A400M-0002  V0136             False
3       2011-03-09 12:06:04  A400M-0002  V0136             False
4       2011-03-09 12:06:05  A400M-0002  V0136             False
...                     ...         ...    ...               ...
623575  2011-03-10 17:27:23  A400M-0002  V0137             False
623576  2011-03-10 17:27:24  A400M-0002  V0137             False
623577  2011-03-10 17:27:25  A400M-0002  V0137             False
623578  2011-03-10 17:27:26  A400M-0002  V0137             False
623579  2011-03-10 17:27:27  A400M-0002  V0137             False

        ENGINE_RUNNING_2  ENGINE_RUNNING_3  ENGINE_RUNNING_4  \
0                   True              True              True
1                  False             False             False
2                  False             False             False
3                  False             False             False
4                  False             False             False
...                  ...               ...               ...
623575             False             False             False
623576             False             False             False
623577             False             False             False
623578             False             False             False
623579             False             False             False

        FLIGHT_PHASE_COUNT  FUEL_FLOW_1  FUEL_FLOW_2  ...  \
0                      NaN          NaN          NaN  ...
1                      1.0          0.0          0.0  ...
2                      1.0          0.0          0.0  ...
3                      1.0          0.0          0.0  ...
4                      1.0          0.0          0.0  ...
...                    ...          ...          ...  ...
623575                12.0          0.0          0.0  ...
623576                12.0          0.0          0.0  ...
623577                12.0          0.0          0.0  ...
623578                 NaN          0.0          0.0  ...
623579                 NaN          0.0          0.0  ...

        STATE_FUEL_QTY_ACCURACY_LST_DEGRADED  \
0                                       True
1                                      False
2                                      False
3                                      False
4                                      False
...                                      ...
623575                                 False
623576                                 False
623577                                 False
623578                                 False
623579                                 False

        STATE_FUEL_QTY_ACCURACY_RST_DEGRADED  \
0                                       True
1                                      False
2                                      False
3                                      False
4                                      False
...                                      ...
623575                                 False
623576                                 False
623577                                 False
623578                                 False
623579                                 False

        STATUS_FUEL_QTY_PART_UNUSABLE_LST  STATUS_FUEL_QTY_PART_UNUSABLE_RST  \
0                                     NaN                                NaN
1                                     0.0                                0.0
2                                     0.0                                0.0
3                                     0.0                                0.0
4                                     0.0                                0.0
...                                   ...                                ...
623575                                0.0                                0.0
623576                                0.0                                0.0
623577                                0.0                                0.0
623578                                0.0                                0.0
623579                                0.0                                0.0

        STATUS_FUEL_QTY_UNUSABLE_LST  STATUS_FUEL_QTY_UNUSABLE_RST  \
0                                NaN                           NaN
1                                0.0                           0.0
2                                0.0                           0.0
3                                0.0                           0.0
4                                0.0                           0.0
...                              ...                           ...
623575                           0.0                           0.0
623576                           0.0                           0.0
623577                           0.0                           0.0
623578                           0.0                           0.0
623579                           0.0                           0.0

        STATUS_OVERFLOW_LST  STATUS_OVERFLOW_RST  VALUE_FUEL_VOL_LST  \
0                       NaN                  NaN                 NaN
1                       0.0                  0.0            41.25817
2                       0.0                  0.0            41.27073
3                       0.0                  0.0            41.27275
4                       0.0                  0.0            41.27908
...                     ...                  ...                 ...
623575                  0.0                  0.0            41.93595
623576                  0.0                  0.0            41.94833
623577                  0.0                  0.0            41.94537
623578                  0.0                  0.0            41.95845
623579                  0.0                  0.0            41.95845

        VALUE_FUEL_VOL_RST
0                      NaN
1                      0.0
2                      0.0
3                      0.0
4                      0.0
...                    ...
623575                 0.0
623576                 0.0
623577                 0.0
623578                 0.0
623579                 0.0

[623580 rows x 111 columns]>
<bound method NDFrame.head of                    UTC_TIME  FUEL_USED_2  FUEL_USED_3  FUEL_USED_4  \
0       2014-07-24 07:04:35   682.630615   663.887573   641.243591
1       2014-07-24 07:04:36   682.630615   663.887573   641.243591
2       2014-07-24 07:04:37   682.630615   663.887573   641.243591
3       2014-07-24 07:04:38   682.630615   663.887573   641.243591
4       2014-07-24 07:04:39   682.630615   663.887573   641.243591
...                     ...          ...          ...          ...
621605  2015-03-07 11:44:07          NaN          NaN          NaN
621606  2015-03-07 11:44:08          NaN          NaN          NaN
621607  2015-03-07 11:44:09          NaN          NaN          NaN
621608  2015-03-07 11:44:10          NaN          NaN          NaN
621609  2015-03-07 11:44:11          NaN          NaN          NaN

        FW_GEO_ALTITUDE  VALUE_FOB  VALUE_FUEL_QTY_CT  VALUE_FUEL_QTY_FT1  \
0                   NaN        NaN                NaN                 NaN
1                   NaN        NaN                NaN                 NaN
2                   NaN        NaN                NaN                 NaN
3                   NaN        NaN                NaN                 NaN
4                   NaN        NaN                NaN                 NaN
...                 ...        ...                ...                 ...
621605          22992.0    25227.0                0.0              1974.0
621606          22998.0    25229.0                0.0              1975.0
621607          22996.0    25225.0                0.0              1974.0
621608          22992.0    25226.0                0.0              1973.0
621609          22994.0    25228.0                0.0              1972.0

        VALUE_FUEL_QTY_FT2  VALUE_FUEL_QTY_FT3  VALUE_FUEL_QTY_FT4  \
0                      NaN                 NaN                 NaN
1                      NaN                 NaN                 NaN
2                      NaN                 NaN                 NaN
3                      NaN                 NaN                 NaN
4                      NaN                 NaN                 NaN
...                    ...                 ...                 ...
621605              2547.0              2660.0              1910.0
621606              2546.0              2660.0              1910.0
621607              2546.0              2659.0              1911.0
621608              2545.0              2659.0              1912.0
621609              2545.0              2658.0              1913.0

        VALUE_FUEL_QTY_LXT  VALUE_FUEL_QTY_RXT  FLIGHT_PHASE_COUNT  \
0                      NaN                 NaN                 NaN
1                      NaN                 NaN                 NaN
2                      NaN                 NaN                 NaN
3                      NaN                 NaN                 NaN
4                      NaN                 NaN                 NaN
...                    ...                 ...                 ...
621605              8298.0              7840.0                 8.0
621606              8299.0              7840.0                 8.0
621607              8299.0              7839.0                 8.0
621608              8300.0              7839.0                 8.0
621609              8302.0              7839.0                 8.0

        FUEL_USED_1  Flight     MSN
0         90.553467     0.0  F-RBAC
1         90.553467     0.0  F-RBAC
2         90.553467     0.0  F-RBAC
3         90.553467     0.0  F-RBAC
4         90.553467     0.0  F-RBAC
...             ...     ...     ...
621605          NaN   539.0  F-RBAC
621606          NaN   539.0  F-RBAC
621607          NaN   539.0  F-RBAC
621608          NaN   539.0  F-RBAC
621609          NaN   539.0  F-RBAC

[621610 rows x 17 columns]>
<bound method NDFrame.head of                     UTC_TIME  FUEL_USED_2  FUEL_USED_3  FUEL_USED_4  \
0        2014-08-20 09:03:07          NaN          NaN          NaN
1        2014-08-20 09:03:08          NaN          NaN          NaN
2        2014-08-20 09:03:09          NaN          NaN          NaN
3        2014-08-20 09:03:10          NaN          NaN          NaN
4        2014-08-20 09:03:11          NaN          NaN          NaN
...                      ...          ...          ...          ...
4455987  2018-01-17 07:10:42   696.431213   762.416321   758.772217
4455988  2018-01-17 07:10:43   696.431213   762.416321   758.772217
4455989  2018-01-17 07:10:44   696.431213   762.416321   758.772217
4455990  2018-01-17 07:10:45   696.431213   762.416321   758.772217
4455991  2018-01-17 07:10:46   696.431213   762.416321   758.772217

         FW_GEO_ALTITUDE  VALUE_FOB  VALUE_FUEL_QTY_CT  VALUE_FUEL_QTY_FT1  \
0                  -35.0    29946.0                0.0              1921.0
1                  -36.0    29945.0                0.0              1921.0
2                  -36.0    29945.0                0.0              1921.0
3                  -35.0    29944.0                0.0              1921.0
4                  -36.0    29942.0                0.0              1921.0
...                  ...        ...                ...                 ...
4455987              NaN        NaN                NaN                 NaN
4455988              NaN        NaN                NaN                 NaN
4455989              NaN        NaN                NaN                 NaN
4455990              NaN        NaN                NaN                 NaN
4455991              NaN        NaN                NaN                 NaN

         VALUE_FUEL_QTY_FT2  VALUE_FUEL_QTY_FT3  VALUE_FUEL_QTY_FT4  \
0                    2659.0              2586.0              1921.0
1                    2659.0              2586.0              1921.0
2                    2659.0              2585.0              1921.0
3                    2659.0              2585.0              1921.0
4                    2658.0              2584.0              1921.0
...                     ...                 ...                 ...
4455987                 NaN                 NaN                 NaN
4455988                 NaN                 NaN                 NaN
4455989                 NaN                 NaN                 NaN
4455990                 NaN                 NaN                 NaN
4455991                 NaN                 NaN                 NaN

         VALUE_FUEL_QTY_LXT  VALUE_FUEL_QTY_RXT  FLIGHT_PHASE_COUNT  \
0                   10407.0             10452.0                 2.0
1                   10407.0             10453.0                 2.0
2                   10407.0             10453.0                 2.0
3                   10408.0             10453.0                 2.0
4                   10408.0             10453.0                 2.0
...                     ...                 ...                 ...
4455987                 NaN                 NaN                 NaN
4455988                 NaN                 NaN                 NaN
4455989                 NaN                 NaN                 NaN
4455990                 NaN                 NaN                 NaN
4455991                 NaN                 NaN                 NaN

         FUEL_USED_1  Flight     MSN
0                NaN     0.0  F-RBAD
1                NaN     0.0  F-RBAD
2                NaN     0.0  F-RBAD
3                NaN     0.0  F-RBAD
4                NaN     0.0  F-RBAD
...              ...     ...     ...
4455987   696.853088  2023.0  F-RBAD
4455988   696.853088  2023.0  F-RBAD
4455989   696.853088  2023.0  F-RBAD
4455990   696.853088  2023.0  F-RBAD
4455991   696.853088  2023.0  F-RBAD

[4455992 rows x 17 columns]>
<bound method NDFrame.head of                     UTC_TIME  FUEL_USED_2  FUEL_USED_3  FUEL_USED_4  \
0        2014-09-30 15:58:27          NaN          NaN          NaN
1        2014-09-30 15:58:28          NaN          NaN          NaN
2        2014-09-30 15:58:29          NaN          NaN          NaN
3        2014-09-30 15:58:30          NaN          NaN          NaN
4        2014-09-30 15:58:31          NaN          NaN          NaN
...                      ...          ...          ...          ...
3247659  2018-04-19 18:26:25  4942.891602   4956.09082  5069.314941
3247660  2018-04-19 18:26:26  4942.891602   4956.09082  5069.314941
3247661  2018-04-19 18:26:27  4942.891602   4956.09082  5069.314941
3247662  2018-04-19 18:26:28  4942.891602   4956.09082  5069.314941
3247663  2018-04-19 18:26:29  4942.891602   4956.09082  5069.314941

         FW_GEO_ALTITUDE  VALUE_FOB  VALUE_FUEL_QTY_CT  VALUE_FUEL_QTY_FT1  \
0                   85.0    26835.0                0.0              1793.0
1                   85.0    26836.0                0.0              1793.0
2                   85.0    26836.0                0.0              1793.0
3                   85.0    26837.0                0.0              1793.0
4                   85.0    26837.0                0.0              1793.0
...                  ...        ...                ...                 ...
3247659              NaN        NaN                NaN                 NaN
3247660              NaN        NaN                NaN                 NaN
3247661              NaN        NaN                NaN                 NaN
3247662              NaN        NaN                NaN                 NaN
3247663              NaN        NaN                NaN                 NaN

         VALUE_FUEL_QTY_FT2  VALUE_FUEL_QTY_FT3  VALUE_FUEL_QTY_FT4  \
0                    2629.0              2628.0              1766.0
1                    2629.0              2628.0              1766.0
2                    2629.0              2628.0              1766.0
3                    2629.0              2628.0              1766.0
4                    2629.0              2628.0              1766.0
...                     ...                 ...                 ...
3247659                 NaN                 NaN                 NaN
3247660                 NaN                 NaN                 NaN
3247661                 NaN                 NaN                 NaN
3247662                 NaN                 NaN                 NaN
3247663                 NaN                 NaN                 NaN

         VALUE_FUEL_QTY_LXT  VALUE_FUEL_QTY_RXT  FLIGHT_PHASE_COUNT  \
0                    9102.0              8921.0                 1.0
1                    9103.0              8920.0                 1.0
2                    9103.0              8920.0                 1.0
3                    9103.0              8920.0                 1.0
4                    9103.0              8921.0                 1.0
...                     ...                 ...                 ...
3247659                 NaN                 NaN                 NaN
3247660                 NaN                 NaN                 NaN
3247661                 NaN                 NaN                 NaN
3247662                 NaN                 NaN                 NaN
3247663                 NaN                 NaN                 NaN

         FUEL_USED_1  Flight     MSN
0                NaN     0.0  F-RBAE
1                NaN     0.0  F-RBAE
2                NaN     0.0  F-RBAE
3                NaN     0.0  F-RBAE
4                NaN     0.0  F-RBAE
...              ...     ...     ...
3247659  5445.785156   503.0  F-RBAE
3247660  5445.785156   503.0  F-RBAE
3247661  5445.785156   503.0  F-RBAE
3247662  5445.785156   503.0  F-RBAE
3247663  5445.785156   503.0  F-RBAE

[3247664 rows x 17 columns]>
<bound method NDFrame.head of                     UTC_TIME  FUEL_USED_2  FUEL_USED_3  FUEL_USED_4  \
0        2014-12-17 14:21:12          NaN          NaN          NaN
1        2014-12-17 14:21:13          NaN          NaN          NaN
2        2014-12-17 14:21:14          NaN          NaN          NaN
3        2014-12-17 14:21:15          NaN          NaN          NaN
4        2014-12-17 14:21:16          NaN          NaN          NaN
...                      ...          ...          ...          ...
4640988  2018-04-13 04:39:03     6529.375  6691.484863  6619.506836
4640989  2018-04-13 04:39:04     6529.375  6691.484863  6619.506836
4640990  2018-04-13 04:39:05     6529.375  6691.484863  6619.506836
4640991  2018-04-13 04:39:06     6529.375  6691.484863  6619.506836
4640992  2018-04-13 04:39:07     6529.375  6691.484863  6619.506836

         FW_GEO_ALTITUDE  VALUE_FOB  VALUE_FUEL_QTY_CT  VALUE_FUEL_QTY_FT1  \
0                 -262.0    10618.0                1.0              1006.0
1                 -262.0    10618.0                1.0              1006.0
2                 -262.0    10616.0                1.0              1006.0
3                 -262.0    10613.0                1.0              1006.0
4                 -263.0    10612.0                1.0              1006.0
...                  ...        ...                ...                 ...
4640988              NaN        NaN                NaN                 NaN
4640989              NaN        NaN                NaN                 NaN
4640990              NaN        NaN                NaN                 NaN
4640991              NaN        NaN                NaN                 NaN
4640992              NaN        NaN                NaN                 NaN

         VALUE_FUEL_QTY_FT2  VALUE_FUEL_QTY_FT3  VALUE_FUEL_QTY_FT4  \
0                     616.0               615.0               923.0
1                     616.0               614.0               923.0
2                     617.0               613.0               923.0
3                     617.0               612.0               923.0
4                     617.0               612.0               923.0

In [5]:
for dataset in datasets:
    print(dataset.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623580 entries, 0 to 623579
Data columns (total 111 columns):
 #    Column                                Dtype
---   ------                                -----
 0    UTC_TIME                              object
 1    MSN                                   object
 2    Flight                                object
 3    ENGINE_RUNNING_1                      bool
 4    ENGINE_RUNNING_2                      bool
 5    ENGINE_RUNNING_3                      bool
 6    ENGINE_RUNNING_4                      bool
 7    FLIGHT_PHASE_COUNT                    float64
 8    FUEL_FLOW_1                           float64
 9    FUEL_FLOW_2                           float64
 10   FUEL_FLOW_3                           float64
 11   FUEL_FLOW_4                           float64
 12   FUEL_PITCH                            float64
 13   FUEL_ROLL                             float64
 14   FUEL_TRANSFER_MODE_VALUE              float64
 15   FUEL_USED_1                           float64
 16   FUEL_USED_2                           float64
 17   FUEL_USED_3                           float64
 18   FUEL_USED_4                           float64
 19   FW_GEO_ALTITUDE                       float64
 20   LEAK_DETECTION_LEAK_FLOW              float64
 21   LSTU1_A_VOLUME                        float64
 22   LSTU1_F_VOLUME                        float64
 23   PITCH_ANGLE                           float64
 24   ROLL_ANGLE                            float64
 25   RSTU1_A_VOLUME                        float64
 26   RSTU1_F_VOLUME                        float64
 27   SELECTED_GADIR_ALTITUDE_VALUE         float64
 28   STATE_PMP_MAIN_FT1_ABNRM_ON           bool
 29   STATE_PMP_MAIN_FT1_IMMERSED           bool
 30   STATE_PMP_MAIN_FT1_ON                 bool
 31   STATE_PMP_MAIN_FT2_ABNRM_ON           bool
 32   STATE_PMP_MAIN_FT2_IMMERSED           bool
 33   STATE_PMP_MAIN_FT2_ON                 bool
 34   STATE_PMP_MAIN_FT3_ABNRM_ON           bool
 35   STATE_PMP_MAIN_FT3_IMMERSED           bool
 36   STATE_PMP_MAIN_FT3_ON                 bool
 37   STATE_PMP_MAIN_FT4_ABNRM_ON           bool
 38   STATE_PMP_MAIN_FT4_IMMERSED           bool
 39   STATE_PMP_MAIN_FT4_ON                 bool
 40   STATE_PMP_STBY_FT1_ABNRM_ON           bool
 41   STATE_PMP_STBY_FT1_IMMERSED           bool
 42   STATE_PMP_STBY_FT1_ON                 bool
 43   STATE_PMP_STBY_FT2_ABNRM_ON           bool
 44   STATE_PMP_STBY_FT2_IMMERSED           bool
 45   STATE_PMP_STBY_FT2_ON                 bool
 46   STATE_PMP_STBY_FT3_ABNRM_ON           bool
 47   STATE_PMP_STBY_FT3_IMMERSED           bool
 48   STATE_PMP_STBY_FT3_ON                 bool
 49   STATE_PMP_STBY_FT4_ABNRM_ON           bool
 50   STATE_PMP_STBY_FT4_IMMERSED           bool
 51   STATE_PMP_STBY_FT4_ON                 bool
 52   STATE_PMP_XFR_1_L_ABNRM_ON            bool
 53   STATE_PMP_XFR_1_L_IMMERSED            bool
 54   STATE_PMP_XFR_1_L_ON                  bool
 55   STATE_PMP_XFR_2_L_ABNRM_ON            bool
 56   STATE_PMP_XFR_2_L_IMMERSED            bool
 57   STATE_PMP_XFR_2_L_ON                  bool
 58   STATE_PMP_XFR_3_R_ABNRM_ON            bool
 59   STATE_PMP_XFR_3_R_IMMERSED            bool
 60   STATE_PMP_XFR_3_R_ON                  bool
 61   STATE_PMP_XFR_4_R_ABNRM_ON            bool
 62   STATE_PMP_XFR_4_R_IMMERSED            bool
 63   STATE_PMP_XFR_4_R_LP                  bool
 64   STATE_PMP_XFR_4_R_ON                  bool
 65   STATUS_FUEL_LEAK_DETECTED_VALID       float64
 66   TRANSFER_MODE                         float64
 67   VALUE_FOB                             float64
 68   VALUE_FUEL_QTY_CC1                    float64
 69   VALUE_FUEL_QTY_CC2                    float64
 70   VALUE_FUEL_QTY_CC3                    float64
 71   VALUE_FUEL_QTY_CC4                    float64
 72   VALUE_FUEL_QTY_CT                     float64
 73   VALUE_FUEL_QTY_FT1                    float64
 74   VALUE_FUEL_QTY_FT2                    float64
 75   VALUE_FUEL_QTY_FT3                    float64
 76   VALUE_FUEL_QTY_FT4                    float64
 77   VALUE_FUEL_QTY_LXT                    float64
 78   VALUE_FUEL_QTY_RXT                    float64
 79   day                                   int64
 80   month                                 int64
 81   time                                  object
 82   year                                  int64
 83   APU_FUEL_FLOW_REQUEST_SIGNAL_1        float64
 84   EF1_Density                           float64
 85   EF4_Density                           float64
 86   RESOLVED_STATE_V_D                    bool
 87   RESOLVED_STATE_V_LP1                  bool
 88   RESOLVED_STATE_V_LP2                  bool
 89   RESOLVED_STATE_V_LP3                  bool
 90   RESOLVED_STATE_V_LP4                  bool
 91   RESOLVED_STATE_V_RM                   bool
 92   RESOLVED_STATE_V_RP                   bool
 93   RESOLVED_STATE_V_T1                   bool
 94   RESOLVED_STATE_V_T2                   bool
 95   RESOLVED_STATE_V_T3                   bool
 96   RESOLVED_STATE_V_T4                   bool
 97   RESOLVED_STATE_V_X1                   bool
 98   RESOLVED_STATE_V_X2                   bool
 99   RESOLVED_STATE_V_X3                   bool
 100  RESOLVED_STATE_V_X4                   bool
 101  STATE_FUEL_QTY_ACCURACY_LST_DEGRADED  bool
 102  STATE_FUEL_QTY_ACCURACY_RST_DEGRADED  bool
 103  STATUS_FUEL_QTY_PART_UNUSABLE_LST     float64
 104  STATUS_FUEL_QTY_PART_UNUSABLE_RST     float64
 105  STATUS_FUEL_QTY_UNUSABLE_LST          float64
 106  STATUS_FUEL_QTY_UNUSABLE_RST          float64
 107  STATUS_OVERFLOW_LST                   float64
 108  STATUS_OVERFLOW_RST                   float64
 109  VALUE_FUEL_VOL_LST                    float64
 110  VALUE_FUEL_VOL_RST                    float64
dtypes: bool(58), float64(46), int64(3), object(4)
memory usage: 286.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621610 entries, 0 to 621609
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   UTC_TIME            621610 non-null  object
 1   FUEL_USED_2         59338 non-null   float64
 2   FUEL_USED_3         60936 non-null   float64
 3   FUEL_USED_4         55775 non-null   float64
 4   FW_GEO_ALTITUDE     538673 non-null  float64
 5   VALUE_FOB           538673 non-null  float64
 6   VALUE_FUEL_QTY_CT   538673 non-null  float64
 7   VALUE_FUEL_QTY_FT1  538673 non-null  float64
 8   VALUE_FUEL_QTY_FT2  538673 non-null  float64
 9   VALUE_FUEL_QTY_FT3  538673 non-null  float64
 10  VALUE_FUEL_QTY_FT4  538673 non-null  float64
 11  VALUE_FUEL_QTY_LXT  538673 non-null  float64
 12  VALUE_FUEL_QTY_RXT  538673 non-null  float64
 13  FLIGHT_PHASE_COUNT  539246 non-null  float64
 14  FUEL_USED_1         52439 non-null   float64
 15  Flight              621610 non-null  float64
 16  MSN                 621610 non-null  object
dtypes: float64(15), object(2)
memory usage: 80.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4455992 entries, 0 to 4455991
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   UTC_TIME            object
 1   FUEL_USED_2         float64
 2   FUEL_USED_3         float64
 3   FUEL_USED_4         float64
 4   FW_GEO_ALTITUDE     float64
 5   VALUE_FOB           float64
 6   VALUE_FUEL_QTY_CT   float64
 7   VALUE_FUEL_QTY_FT1  float64
 8   VALUE_FUEL_QTY_FT2  float64
 9   VALUE_FUEL_QTY_FT3  float64
 10  VALUE_FUEL_QTY_FT4  float64
 11  VALUE_FUEL_QTY_LXT  float64
 12  VALUE_FUEL_QTY_RXT  float64
 13  FLIGHT_PHASE_COUNT  float64
 14  FUEL_USED_1         float64
 15  Flight              float64
 16  MSN                 object
dtypes: float64(15), object(2)
memory usage: 577.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3247664 entries, 0 to 3247663
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   UTC_TIME            object
 1   FUEL_USED_2         float64
 2   FUEL_USED_3         float64
 3   FUEL_USED_4         float64
 4   FW_GEO_ALTITUDE     float64
 5   VALUE_FOB           float64
 6   VALUE_FUEL_QTY_CT   float64
 7   VALUE_FUEL_QTY_FT1  float64
 8   VALUE_FUEL_QTY_FT2  float64
 9   VALUE_FUEL_QTY_FT3  float64
 10  VALUE_FUEL_QTY_FT4  float64
 11  VALUE_FUEL_QTY_LXT  float64
 12  VALUE_FUEL_QTY_RXT  float64
 13  FLIGHT_PHASE_COUNT  float64
 14  FUEL_USED_1         float64
 15  Flight              float64
 16  MSN                 object
dtypes: float64(15), object(2)
memory usage: 421.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4640993 entries, 0 to 4640992
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   UTC_TIME            object
 1   FUEL_USED_2         float64
 2   FUEL_USED_3         float64
 3   FUEL_USED_4         float64
 4   FW_GEO_ALTITUDE     float64
 5   VALUE_FOB           float64
 6   VALUE_FUEL_QTY_CT   float64
 7   VALUE_FUEL_QTY_FT1  float64
 8   VALUE_FUEL_QTY_FT2  float64
 9   VALUE_FUEL_QTY_FT3  float64
 10  VALUE_FUEL_QTY_FT4  float64
 11  VALUE_FUEL_QTY_LXT  float64
 12  VALUE_FUEL_QTY_RXT  float64
 13  FLIGHT_PHASE_COUNT  float64
 14  FUEL_USED_1         float64
 15  Flight              float64
 16  MSN                 object
dtypes: float64(15), object(2)
memory usage: 601.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4129447 entries, 0 to 4129446
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   UTC_TIME            object
 1   FUEL_USED_2         float64
 2   FUEL_USED_3         float64
 3   FUEL_USED_4         float64
 4   FW_GEO_ALTITUDE     float64
 5   VALUE_FOB           float64
 6   VALUE_FUEL_QTY_CT   float64
 7   VALUE_FUEL_QTY_FT1  float64
 8   VALUE_FUEL_QTY_FT2  float64
 9   VALUE_FUEL_QTY_FT3  float64
 10  VALUE_FUEL_QTY_FT4  float64
 11  VALUE_FUEL_QTY_LXT  float64
 12  VALUE_FUEL_QTY_RXT  float64
 13  FLIGHT_PHASE_COUNT  float64
 14  FUEL_USED_1         float64
 15  Flight              float64
 16  MSN                 object
dtypes: float64(15), object(2)
memory usage: 535.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3236645 entries, 0 to 3236644
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   UTC_TIME            object
 1   FUEL_USED_2         float64
 2   FUEL_USED_3         float64
 3   FUEL_USED_4         float64
 4   FW_GEO_ALTITUDE     float64
 5   VALUE_FOB           float64
 6   VALUE_FUEL_QTY_CT   float64
 7   VALUE_FUEL_QTY_FT1  float64
 8   VALUE_FUEL_QTY_FT2  float64
 9   VALUE_FUEL_QTY_FT3  float64
 10  VALUE_FUEL_QTY_FT4  float64
 11  VALUE_FUEL_QTY_LXT  float64
 12  VALUE_FUEL_QTY_RXT  float64
 13  FLIGHT_PHASE_COUNT  float64
 14  FUEL_USED_1         float64
 15  Flight              float64
 16  MSN                 object
dtypes: float64(15), object(2)
memory usage: 419.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3034227 entries, 0 to 3034226
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   UTC_TIME            object
 1   FUEL_USED_2         float64
 2   FUEL_USED_3         float64
 3   FUEL_USED_4         float64
 4   FW_GEO_ALTITUDE     float64
 5   VALUE_FOB           float64
 6   VALUE_FUEL_QTY_CT   float64
 7   VALUE_FUEL_QTY_FT1  float64
 8   VALUE_FUEL_QTY_FT2  float64
 9   VALUE_FUEL_QTY_FT3  float64
 10  VALUE_FUEL_QTY_FT4  float64
 11  VALUE_FUEL_QTY_LXT  float64
 12  VALUE_FUEL_QTY_RXT  float64
 13  FLIGHT_PHASE_COUNT  float64
 14  FUEL_USED_1         float64
 15  Flight              float64
 16  MSN                 object
dtypes: float64(15), object(2)
memory usage: 393.5+ MB
None

In [6]:
# Count NaN values
for dataset in datasets:
    # print percentage of NaN values if more than 0.8
    for column in dataset.columns:
        if dataset[column].isna().sum() > 0.7 * len(dataset[column]):
            print("NaN percentage in column " + column + ": " + str(dataset[column].isna().sum() / len(dataset[column])))

NaN percentage in column APU_FUEL_FLOW_REQUEST_SIGNAL_1: 0.7257256486737869
NaN percentage in column FUEL_USED_2: 0.9045414327311336
NaN percentage in column FUEL_USED_3: 0.9019706890172294
NaN percentage in column FUEL_USED_4: 0.9102733225012468
NaN percentage in column FUEL_USED_1: 0.9156400315310242
NaN percentage in column FUEL_USED_2: 0.9270844741193431
NaN percentage in column FUEL_USED_3: 0.9290465512505408
NaN percentage in column FUEL_USED_4: 0.9346630335063438
NaN percentage in column FUEL_USED_1: 0.9260196158341397
NaN percentage in column FUEL_USED_2: 0.9617719074387006
NaN percentage in column FUEL_USED_3: 0.9619637376280304
NaN percentage in column FUEL_USED_4: 0.9621805088211096
NaN percentage in column FUEL_USED_1: 0.9603653579926987
NaN percentage in column FUEL_USED_2: 0.9420524874741246
NaN percentage in column FUEL_USED_3: 0.9419641443113576
NaN percentage in column FUEL_USED_4: 0.9424914021632871
NaN percentage in column FUEL_USED_1: 0.942016288324503
NaN percentage in column FUEL_USED_2: 0.9307839524275284
NaN percentage in column FUEL_USED_3: 0.9322354785035382
NaN percentage in column FUEL_USED_4: 0.9328614703130952
NaN percentage in column FUEL_USED_1: 0.9327951176029139
NaN percentage in column FUEL_USED_2: 0.9019249871394608
NaN percentage in column FUEL_USED_3: 0.9020355955008967
NaN percentage in column FUEL_USED_4: 0.9020235459866621
NaN percentage in column FUEL_USED_1: 0.9017946052162038
NaN percentage in column FUEL_USED_2: 0.9120665658831723
NaN percentage in column FUEL_USED_3: 0.912175654623072
NaN percentage in column FUEL_USED_4: 0.9119429759210501
NaN percentage in column FUEL_USED_1: 0.9118104874816552

In [7]:
# Correlation matrix for all datasets numercial values
#for dataset in datasets:
    #print(dataset.corr())

In [8]:
# draw plots for all datasets for column LEAK_DETECTION_LEAK_FLOW
for i in range(len(datasets)):
    print(filenames[i], datasets[i].shape)

data/msn_02_fuel_leak_signals_preprocessed.csv (623580, 111)
data/msn_10_fuel_leak_signals_preprocessed.csv (621610, 17)
data/msn_11_fuel_leak_signals_preprocessed.csv (4455992, 17)
data/msn_12_fuel_leak_signals_preprocessed.csv (3247664, 17)
data/msn_14_fuel_leak_signals_preprocessed.csv (4640993, 17)
data/msn_29_fuel_leak_signals_preprocessed.csv (4129447, 17)
data/msn_37_fuel_leak_signals_preprocessed.csv (3236645, 17)
data/msn_53_fuel_leak_signals_preprocessed.csv (3034227, 17)

In [9]:
# draw plots for all datasets for columns VALUE_FUEL_QTY_FT1;VALUE_FUEL_QTY_FT2;VALUE_FUEL_QTY_FT3;VALUE_FUEL_QTY_FT4;VALUE_FUEL_QTY_LXT;VALUE_FUEL_QTY_RXT
#for dataset in datasets:
 #   dataset.plot.scatter(x='UTC_TIME', y='VALUE_FUEL_QTY_FT1')
    #dataset.plot.scatter(x='UTC_TIME', y='VALUE_FUEL_QTY_FT2')
    #dataset.plot.scatter(x='UTC_TIME', y='VALUE_FUEL_QTY_FT3')
    #dataset.plot.scatter(x='UTC_TIME', y='VALUE_FUEL_QTY_FT4')
    #dataset.plot.scatter(x='UTC_TIME', y='VALUE_FUEL_QTY_LXT')
    #dataset.plot.scatter(x='UTC_TIME', y='VALUE_FUEL_QTY_RXT')

In [10]:
#datasets[0].plot.scatter(x='UTC_TIME', y='VALUE_FUEL_QTY_FT1')

In [11]:
# convert UTC_TIME to datetime
for dataset in datasets:
    dataset['UTC_TIME'] = pd.to_datetime(dataset['UTC_TIME'], format='%Y-%m-%d %H:%M:%S.%f')

In [12]:
for dataset in datasets:
    #introduce column date
    dataset['DATE'] = dataset['UTC_TIME'].dt.date
    dataset["MONTH"] = dataset['UTC_TIME'].dt.month
    dataset["DAY"] = dataset['UTC_TIME'].dt.day
    dataset["HOUR"] = dataset['UTC_TIME'].dt.hour
    dataset["MINUTE"] = dataset['UTC_TIME'].dt.minute
    dataset["SECOND"] = dataset['UTC_TIME'].dt.second
    
# number of seconds since epoch 
import time

In [13]:
import plotly.subplots as sp
import plotly.graph_objs as go

def plot_datasets():
    # List of columns to plot for VALUE_FUEL_QTY_CT;VALUE_FUEL_QTY_FT1;VALUE_FUEL_QTY_FT2;VALUE_FUEL_QTY_FT3;VALUE_FUEL_QTY_FT4;VALUE_FUEL_QTY_LXT;VALUE_FUEL_QTY_RXT
    fuel_qty_cols = ['VALUE_FUEL_QTY_CT', 'VALUE_FUEL_QTY_FT1', 'VALUE_FUEL_QTY_FT2', 'VALUE_FUEL_QTY_FT3', 'VALUE_FUEL_QTY_FT4', 'VALUE_FUEL_QTY_LXT', 'VALUE_FUEL_QTY_RXT']

    # Loop over every unique date
    for date in datasets[0]['DATE'].unique():
        # Create a subplot
        fig = sp.make_subplots(rows=3, cols=3)
        
        # size of fig 
        fig.update_layout(height=1400, width=1400)

        # Loop over each column
        for i, col in enumerate(fuel_qty_cols):
            # Add scatter plot to subplot
            fig.add_trace(
                go.Scatter(x=datasets[0][datasets[0]['DATE'] == date]['UTC_TIME'], 
                        y=datasets[0][datasets[0]['DATE'] == date][col], 
                        mode='markers',
                        name=col),
                row=i//3 + 1, 
                col=i%3 + 1
            )

            # Update xaxis and yaxis titles
            fig.update_xaxes(title_text='UTC_TIME', row=i//3 + 1, col=i%3 + 1)
            fig.update_yaxes(title_text=col + " " + str(date), row=i//3 + 1, col=i%3 + 1)

        # Show the plot
        #fig.show()
        
        # save the plot as png
        fig.write_image("plots/" + str(date) + ".png")

In [14]:
datasets[0][datasets[0]['DATE'] == "2011-03-10"]

Empty DataFrame
Columns: [UTC_TIME, MSN, Flight, ENGINE_RUNNING_1, ENGINE_RUNNING_2, ENGINE_RUNNING_3, ENGINE_RUNNING_4, FLIGHT_PHASE_COUNT, FUEL_FLOW_1, FUEL_FLOW_2, FUEL_FLOW_3, FUEL_FLOW_4, FUEL_PITCH, FUEL_ROLL, FUEL_TRANSFER_MODE_VALUE, FUEL_USED_1, FUEL_USED_2, FUEL_USED_3, FUEL_USED_4, FW_GEO_ALTITUDE, LEAK_DETECTION_LEAK_FLOW, LSTU1_A_VOLUME, LSTU1_F_VOLUME, PITCH_ANGLE, ROLL_ANGLE, RSTU1_A_VOLUME, RSTU1_F_VOLUME, SELECTED_GADIR_ALTITUDE_VALUE, STATE_PMP_MAIN_FT1_ABNRM_ON, STATE_PMP_MAIN_FT1_IMMERSED, STATE_PMP_MAIN_FT1_ON, STATE_PMP_MAIN_FT2_ABNRM_ON, STATE_PMP_MAIN_FT2_IMMERSED, STATE_PMP_MAIN_FT2_ON, STATE_PMP_MAIN_FT3_ABNRM_ON, STATE_PMP_MAIN_FT3_IMMERSED, STATE_PMP_MAIN_FT3_ON, STATE_PMP_MAIN_FT4_ABNRM_ON, STATE_PMP_MAIN_FT4_IMMERSED, STATE_PMP_MAIN_FT4_ON, STATE_PMP_STBY_FT1_ABNRM_ON, STATE_PMP_STBY_FT1_IMMERSED, STATE_PMP_STBY_FT1_ON, STATE_PMP_STBY_FT2_ABNRM_ON, STATE_PMP_STBY_FT2_IMMERSED, STATE_PMP_STBY_FT2_ON, STATE_PMP_STBY_FT3_ABNRM_ON, STATE_PMP_STBY_FT3_IMMERSED, STATE_PMP_STBY_FT3_ON, STATE_PMP_STBY_FT4_ABNRM_ON, STATE_PMP_STBY_FT4_IMMERSED, STATE_PMP_STBY_FT4_ON, STATE_PMP_XFR_1_L_ABNRM_ON, STATE_PMP_XFR_1_L_IMMERSED, STATE_PMP_XFR_1_L_ON, STATE_PMP_XFR_2_L_ABNRM_ON, STATE_PMP_XFR_2_L_IMMERSED, STATE_PMP_XFR_2_L_ON, STATE_PMP_XFR_3_R_ABNRM_ON, STATE_PMP_XFR_3_R_IMMERSED, STATE_PMP_XFR_3_R_ON, STATE_PMP_XFR_4_R_ABNRM_ON, STATE_PMP_XFR_4_R_IMMERSED, STATE_PMP_XFR_4_R_LP, STATE_PMP_XFR_4_R_ON, STATUS_FUEL_LEAK_DETECTED_VALID, TRANSFER_MODE, VALUE_FOB, VALUE_FUEL_QTY_CC1, VALUE_FUEL_QTY_CC2, VALUE_FUEL_QTY_CC3, VALUE_FUEL_QTY_CC4, VALUE_FUEL_QTY_CT, VALUE_FUEL_QTY_FT1, VALUE_FUEL_QTY_FT2, VALUE_FUEL_QTY_FT3, VALUE_FUEL_QTY_FT4, VALUE_FUEL_QTY_LXT, VALUE_FUEL_QTY_RXT, day, month, time, year, APU_FUEL_FLOW_REQUEST_SIGNAL_1, EF1_Density, EF4_Density, RESOLVED_STATE_V_D, RESOLVED_STATE_V_LP1, RESOLVED_STATE_V_LP2, RESOLVED_STATE_V_LP3, RESOLVED_STATE_V_LP4, RESOLVED_STATE_V_RM, RESOLVED_STATE_V_RP, RESOLVED_STATE_V_T1, RESOLVED_STATE_V_T2, RESOLVED_STATE_V_T3, RESOLVED_STATE_V_T4, RESOLVED_STATE_V_X1, RESOLVED_STATE_V_X2, RESOLVED_STATE_V_X3, ...]
Index: []

[0 rows x 117 columns]

In [15]:
# from dataset 0 show 2011-03-10
datasets[0][datasets[0]['DATE'] == "2011-03-10"]

Empty DataFrame
Columns: [UTC_TIME, MSN, Flight, ENGINE_RUNNING_1, ENGINE_RUNNING_2, ENGINE_RUNNING_3, ENGINE_RUNNING_4, FLIGHT_PHASE_COUNT, FUEL_FLOW_1, FUEL_FLOW_2, FUEL_FLOW_3, FUEL_FLOW_4, FUEL_PITCH, FUEL_ROLL, FUEL_TRANSFER_MODE_VALUE, FUEL_USED_1, FUEL_USED_2, FUEL_USED_3, FUEL_USED_4, FW_GEO_ALTITUDE, LEAK_DETECTION_LEAK_FLOW, LSTU1_A_VOLUME, LSTU1_F_VOLUME, PITCH_ANGLE, ROLL_ANGLE, RSTU1_A_VOLUME, RSTU1_F_VOLUME, SELECTED_GADIR_ALTITUDE_VALUE, STATE_PMP_MAIN_FT1_ABNRM_ON, STATE_PMP_MAIN_FT1_IMMERSED, STATE_PMP_MAIN_FT1_ON, STATE_PMP_MAIN_FT2_ABNRM_ON, STATE_PMP_MAIN_FT2_IMMERSED, STATE_PMP_MAIN_FT2_ON, STATE_PMP_MAIN_FT3_ABNRM_ON, STATE_PMP_MAIN_FT3_IMMERSED, STATE_PMP_MAIN_FT3_ON, STATE_PMP_MAIN_FT4_ABNRM_ON, STATE_PMP_MAIN_FT4_IMMERSED, STATE_PMP_MAIN_FT4_ON, STATE_PMP_STBY_FT1_ABNRM_ON, STATE_PMP_STBY_FT1_IMMERSED, STATE_PMP_STBY_FT1_ON, STATE_PMP_STBY_FT2_ABNRM_ON, STATE_PMP_STBY_FT2_IMMERSED, STATE_PMP_STBY_FT2_ON, STATE_PMP_STBY_FT3_ABNRM_ON, STATE_PMP_STBY_FT3_IMMERSED, STATE_PMP_STBY_FT3_ON, STATE_PMP_STBY_FT4_ABNRM_ON, STATE_PMP_STBY_FT4_IMMERSED, STATE_PMP_STBY_FT4_ON, STATE_PMP_XFR_1_L_ABNRM_ON, STATE_PMP_XFR_1_L_IMMERSED, STATE_PMP_XFR_1_L_ON, STATE_PMP_XFR_2_L_ABNRM_ON, STATE_PMP_XFR_2_L_IMMERSED, STATE_PMP_XFR_2_L_ON, STATE_PMP_XFR_3_R_ABNRM_ON, STATE_PMP_XFR_3_R_IMMERSED, STATE_PMP_XFR_3_R_ON, STATE_PMP_XFR_4_R_ABNRM_ON, STATE_PMP_XFR_4_R_IMMERSED, STATE_PMP_XFR_4_R_LP, STATE_PMP_XFR_4_R_ON, STATUS_FUEL_LEAK_DETECTED_VALID, TRANSFER_MODE, VALUE_FOB, VALUE_FUEL_QTY_CC1, VALUE_FUEL_QTY_CC2, VALUE_FUEL_QTY_CC3, VALUE_FUEL_QTY_CC4, VALUE_FUEL_QTY_CT, VALUE_FUEL_QTY_FT1, VALUE_FUEL_QTY_FT2, VALUE_FUEL_QTY_FT3, VALUE_FUEL_QTY_FT4, VALUE_FUEL_QTY_LXT, VALUE_FUEL_QTY_RXT, day, month, time, year, APU_FUEL_FLOW_REQUEST_SIGNAL_1, EF1_Density, EF4_Density, RESOLVED_STATE_V_D, RESOLVED_STATE_V_LP1, RESOLVED_STATE_V_LP2, RESOLVED_STATE_V_LP3, RESOLVED_STATE_V_LP4, RESOLVED_STATE_V_RM, RESOLVED_STATE_V_RP, RESOLVED_STATE_V_T1, RESOLVED_STATE_V_T2, RESOLVED_STATE_V_T3, RESOLVED_STATE_V_T4, RESOLVED_STATE_V_X1, RESOLVED_STATE_V_X2, RESOLVED_STATE_V_X3, ...]
Index: []

[0 rows x 117 columns]

In [16]:
#!pip install lazypredict
#!pip install pyforest
#!pip install pycaret

In [17]:
import pyforest
lazy_imports()

['from sklearn.preprocessing import PolynomialFeatures',
 'from sklearn.preprocessing import RobustScaler',
 'from sklearn.preprocessing import OneHotEncoder',
 'import imutils',
 'from sklearn.feature_extraction.text import TfidfVectorizer',
 'from sklearn.linear_model import LinearRegression',
 'import sklearn',
 'from sklearn.decomposition import PCA',
 'from sklearn.feature_extraction.text import CountVectorizer',
 'import keras',
 'import cv2',
 'from PIL import Image',
 'from sklearn.linear_model import Ridge',
 'from sklearn.linear_model import ElasticNetCV',
 'import skimage',
 'from openpyxl import load_workbook',
 'from pathlib import Path',
 'from sklearn.preprocessing import LabelEncoder',
 'import numpy as np',
 'from sklearn.model_selection import RandomizedSearchCV',
 'import plotly.express as px',
 'from sklearn.preprocessing import MinMaxScaler',
 'import seaborn as sns',
 'import gensim',
 'from sklearn.linear_model import ElasticNet',
 'from sklearn.model_selection import train_test_split',
 'import spacy',
 'from sklearn.model_selection import cross_val_score',
 'from sklearn.manifold import TSNE',
 'from sklearn.model_selection import StratifiedKFold',
 'from sklearn.linear_model import LassoCV',
 'import tqdm',
 'from sklearn.ensemble import GradientBoostingRegressor',
 'import statsmodels.api as sm',
 'import tensorflow as tf',
 'import statistics',
 'import dash',
 'from sklearn.linear_model import LogisticRegression',
 'import bokeh',
 'from sklearn import svm',
 'import plotly.graph_objs as go',
 'import pandas as pd',
 'from sklearn.linear_model import Lasso',
 'import pydot',
 'from sklearn.ensemble import RandomForestClassifier',
 'import fastai',
 'import awswrangler as wr',
 'from pyspark import SparkContext',
 'import matplotlib.pyplot as plt',
 'import re',
 'from sklearn.preprocessing import StandardScaler',
 'import xgboost as xgb',
 'from sklearn.impute import SimpleImputer',
 'from sklearn.cluster import KMeans',
 'from sklearn.linear_model import RidgeCV',
 'import torch',
 'import datetime as dt',
 'import nltk',
 'from fbprophet import Prophet',
 'import os',
 'import fbprophet',
 'from sklearn.ensemble import GradientBoostingClassifier',
 'from statsmodels.tsa.arima_model import ARIMA',
 'from dask import dataframe as dd',
 'from sklearn.ensemble import RandomForestRegressor',
 'import sys',
 'import altair as alt',
 'import plotly as py',
 'import pickle',
 'import lightgbm as lgb',
 'from scipy import stats',
 'import matplotlib as mpl',
 'from scipy import signal as sg',
 'import textblob',
 'from sklearn.model_selection import KFold',
 'from sklearn import metrics',
 'from xlrd import open_workbook',
 'from sklearn.model_selection import GridSearchCV',
 'import glob']

In [18]:
# introduce new columns for each dataset [CT_DIFF, LXT_DIFF, RXT_DIFF, FT1_DIFF, FT2_DIFF, FT3_DIFF, FT4_DIFF]
# value represents the difference between the current and the previous value
for dataset in datasets:
    dataset['CT_DIFF'] = dataset['VALUE_FUEL_QTY_CT'].diff()
    dataset['LXT_DIFF'] = dataset['VALUE_FUEL_QTY_LXT'].diff()
    dataset['RXT_DIFF'] = dataset['VALUE_FUEL_QTY_RXT'].diff()
    dataset['FT1_DIFF'] = dataset['VALUE_FUEL_QTY_FT1'].diff()
    dataset['FT2_DIFF'] = dataset['VALUE_FUEL_QTY_FT2'].diff()
    dataset['FT3_DIFF'] = dataset['VALUE_FUEL_QTY_FT3'].diff()
    dataset['FT4_DIFF'] = dataset['VALUE_FUEL_QTY_FT4'].diff()

In [19]:
datasets[0].head()

,UTC_TIME,MSN,Flight,ENGINE_RUNNING_1,ENGINE_RUNNING_2,ENGINE_RUNNING_3,ENGINE_RUNNING_4,FLIGHT_PHASE_COUNT,FUEL_FLOW_1,FUEL_FLOW_2,...,HOUR,MINUTE,SECOND,CT_DIFF,LXT_DIFF,RXT_DIFF,FT1_DIFF,FT2_DIFF,FT3_DIFF,FT4_DIFF
0,2011-03-09 12:06:01,A400M-0002,V0136,True,True,True,True,NaN,NaN,NaN,...,12,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-03-09 12:06:02,A400M-0002,V0136,False,False,False,False,1.0,0.0,0.0,...,12,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-03-09 12:06:03,A400M-0002,V0136,False,False,False,False,1.0,0.0,0.0,...,12,6,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011-03-09 12:06:04,A400M-0002,V0136,False,False,False,False,1.0,0.0,0.0,...,12,6,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011-03-09 12:06:05,A400M-0002,V0136,False,False,False,False,1.0,0.0,0.0,...,12,6,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
def plot_diff(): 
    #plot diff columns for dataset 0 for each unique date
    for date in datasets[0]['DATE'].unique():
        # create subplot 3 columns and len(datasets[0].unique) rows
        fig = sp.make_subplots(rows=3, cols=3)
        
        # size of fig
        fig.update_layout(height=1000, width=1000)
        
        diff_cols = ['CT_DIFF', 'LXT_DIFF', 'RXT_DIFF', 'FT1_DIFF', 'FT2_DIFF', 'FT3_DIFF', 'FT4_DIFF']
        
        # loop over the diff columns
        for i, col in enumerate(diff_cols):
            # add scatter plot to subplot
            fig.add_trace(
                go.Scatter(x=datasets[0][datasets[0]['DATE'] == date]['UTC_TIME'], 
                        y=datasets[0][datasets[0]['DATE'] == date][col], 
                        mode='markers',
                        name=col),
                row=i//3 + 1, 
                col=i%3 + 1
            )

            # update xaxis and yaxis titles
            fig.update_xaxes(title_text='UTC_TIME', row=i//3 + 1, col=i%3 + 1)
            fig.update_yaxes(title_text=col + " " + str(date), row=i//3 + 1, col=i%3 + 1)
            
        # save fig as png 
        fig.write_image("plots/diff_plots/" + str(date) + "_diff.png")

In [21]:
!docker run -p 8888:8888 pycaret/full

docker: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?.
See 'docker run --help'.

In [23]:
# ideas
# 1. use lower bound and upper bound to detect outliers
# 2. use the bounds to plot the data and see if there are any outliers
# 3. deep learning auto detection anomaly detection

In [ ]:
# use deep learning to detect anomalies
# https://www.analyticsvidhya.com/blog/2019/01/introduction-time-series-classification/